.background{
    background-color: #FAFBF9;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.fullscreen{
    height: 100vh;
}

.half{
    height: 50vh;
}
section{
    margin: 0 3em;
}

.Introduction{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text{
    background-image: -webkit-linear-gradient(75deg,#6C9EB2, #9A6651);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons{
    display: flex;    
    justify-content: center;
}

.social-icon{
    color: #9A6651;
}
.social-icon:hover{
    /* filter: drop-shadow(10px 10px 10px rgba(226, 208, 230, 2)); */
    color: #6C9EB2;
    animation: up-and-down 1s ease-in-out infinite;
}

.up-and-down:hover{
    animation: up-and-down 1s ease-in-out infinite;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    filter: drop-shadow(5px 5px 5px #6C9EB2);
}

.text-primary{
    color: #6C9EB2;
}

.text-accent{
    color: #9A6651;
}

.title{
    font-size: 2.5em;
}

@keyframes up-and-down{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-3px);
    }
    100%{
        transform:translatey(0px);
    }
}

